.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;
  color: #76e4ff;
  padding: 2rem;
}

.coffres {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.coffre {
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.tremble {
  animation: tremble 0.5s ease;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.lotContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* ou plus, selon besoin */
}

.lot {
  width: 200px;
  height: auto;
  animation: grow 0.6s ease-out forwards;
}


@keyframes tremble {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(5deg); }
}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.titre_coffre {
  font-size: clamp(2rem, 2vw, 2rem);
  margin-top: 1rem;
  margin-bottom: 5rem;
  text-align: center;
  font-weight: 700; /* plus gras */
  color: #0bc5ee; 
  text-shadow: 1px 1px 4px #76e4ff; /* légère ombre bleue */
}

.rejouerBtn {
  background-color: #01afeb; /* logo.brightCyan */
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
  box-shadow: 0 4px 8px rgba(1, 175, 235, 0.4);
}

.rejouerBtn:active {
  background-color: #018fbe; /* Un bleu plus foncé */
  box-shadow: none;
}
